[client]
user=root
password={{local_mysql_root}}

[mysql]
user=root
password={{local_mysql_root}}

[mysqldump]
user=root
password={{local_mysql_root}}

[mysqldiff]
user=root
password={{local_mysql_root}}